# Julia Gajtkowska

Porządkowanie danych zgodnie z protokołem TIER

In [38]:
import pandas as pd 
import numpy as np

# Na początek wyczyściłam dane z niepoptrzebnych i przeszkadzających elementów, następnie zapisałam wynik do pliku 
# weather_clean.csv

infile = "weather.txt"
outfile = "weather1.txt"

delete_list = [" I", " S", " SI", " IS"," OI", " SO", " OS", " IO", " I ", " S ","  ","   ", "    ","     ", "      ", "       ", "        "]
spaces = ["  ","   ", "    ","     ", "      ", "       ", "        "]

with open(infile) as fin, open(outfile, "w+") as fout:
    for line in fin:
        line = line.replace("-", " -")
        line = line.replace("-9999", 'Null')
        line = line.replace("9999", 'Null')
        for word in delete_list:
            line = line.replace(word, " ")
            line = line.replace(word, " ")
        for word in spaces:
            line = line.replace(word, " ")
        fout.write(line)
    

df = pd.read_csv("weather1.txt", sep=" ", header=None)
df = df.drop(columns = 32)
df = df.rename(columns={0: "Date"})

df.to_csv('weather_clean.csv')

df.head()

,Date,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,MX000017004195504TMAX,310,310,310,320,330,320,320,330,330,...,330,330,330,330,330,330,340,330,320,Null
1,MX000017004195504TMIN,150,150,160,150,160,160,160,160,160,...,170,170,170,180,190,190,170,180,160,Null
2,MX000017004195504PRCP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,Null
3,MX000017004195505TMAX,310,310,310,300,300,300,310,310,310,...,330,340,350,330,310,310,320,310,300,290
4,MX000017004195505TMIN,200,160,160,150,150,150,160,160,170,...,170,190,190,190,180,160,150,170,150,160

In [39]:
# Dodanie kolumn ID, Year, Month, Variable

df.insert(1, "ID", "")
df.insert(2, "Year", "")
df.insert(3, "Month", "")
df.insert(4, "Variable", "")

In [40]:
# Wypełnienie wszystkich kolumn i usunięcie kolumny "Date"
for e in range(0,len(df["Date"]),1):
    df.loc[e,"ID"] = df.loc[e,"Date"][:11]
    df.loc[e,"Year"] = df.loc[e,"Date"][11:15]
    df.loc[e,"Month"] = df.loc[e,"Date"][15:17]
    df.loc[e,"Variable"] = df.loc[e,"Date"][17:]

df = df.drop(["Date"],axis=1)

# Zmniejszenie wielkości tabeli (utworzenie kolumn variable i value)
    
df = pd.melt(df, id_vars=["ID", "Year", "Month", "Variable"])

# Usunięcie wierszy z zwartościami Null

df = df[df["value"] != "Null"]

# Dodanie kolumny z pełną datą i usunięcie kolumn Day i Month
df = df.rename(columns={"variable":"Day","Year":"Date"})

df["Date"] = df["Date"].astype(str) + '-' + df["Month"].astype(str) +'-'+ df["Day"].astype(str)

df = df.drop(["Month", "Day"], axis=1)

df.head()

# Zapisanie wyniku do pliku Weather_tidy.csv

df.to_csv('weather_tidy.csv')

In [41]:
df.head()

            ID       Date Variable value
0  MX000017004  1955-04-1     TMAX   310
1  MX000017004  1955-04-1     TMIN   150
2  MX000017004  1955-04-1     PRCP     0
3  MX000017004  1955-05-1     TMAX   310
4  MX000017004  1955-05-1     TMIN   200